In [1]:
import pandas as pd
pd.DataFrame({'apple':['5'],'Banana':['6Kg'],'Mangoes':['10kg']})

  apple Banana Mangoes
0     5    6Kg    10kg

In [2]:
pd.DataFrame({'apple':['5','5','5','5'],
              'Banana':['6Kg','6Kg','6Kg','6Kg'],
              'Mangoes':['10kg','10kg','10kg','10kg']},
             columns=['Banana',"apple",'Mangoes'])

  Banana apple Mangoes
0    6Kg     5    10kg
1    6Kg     5    10kg
2    6Kg     5    10kg
3    6Kg     5    10kg